body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}

.box {
    padding: 40px;
    margin: auto;
    background: black;
    text-align: center;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    border-color: #2ecc71;
}

.box input[type = "button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "button"]:hover {
    background: #2ecc71;
}

.sign {
    display: flex;
}

@media (min-width: 375px) {
    .all {
        margin-top: 100px;
    }
}

@media (min-width: 700px) {
    .all {
        margin-top: 250px;
    }

    .box input[type = "text"], .box input[type = "password"] {
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .all {
        margin-top: 400px;
    }

    .box input[type = "text"], .box input[type = "password"] {
        width: 400px;
    }
}

@media (max-width: 300px) {
    .all {
        margin-top: 100px;
    }

    .box input[type = "button"] {
        width: 100px;
        text-align: center;
        margin: 10px auto;
    }
}
@media (min-width: 1300px) {
    .all {
        margin-top: 200px;
    }

    .box input[type = "text"], .box input[type = "password"] {
        width: 400px;
    }
}